header>h1{
    text-align: center;
    margin: 0;
    padding: 0;
}


body{
    background-color: hsl(0, 2%, 60%);
    font-family: Arial, sans-serif;
    margin: 30px;
    padding: 3px;
}

.main-container{
    display: flex ;
    font-family :'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    background-color: hsl(0, 2%, 60%);
    margin: 0;
    padding: 0;
    
}

.container-item {
    max-width: 110%;
    margin: 30px ;
    padding: 5px;
    background-color: #e7e4e4;
    border-radius: 5px;
    box-shadow: 0 2px 5px rgba(16, 15, 15, 0.1);
    text-align: center;
   
}

.container-result {
    max-width: 110%;
    margin: 30px ;
    padding: 5px ;
    background-color: #e7e4e4;
    border-radius: 0%;
    box-shadow: 0 2px 5px rgba(0, 0, 0, 0.1);
    text-align: center;
}
.container-form {
    background-color: rgba(240, 248, 255, 0.919);
    max-width: 590px;
    margin-left: auto;
    margin-right: auto;
    padding-top: 5px ;
    padding-bottom :24px ;
    border-radius: 50px ;
    text-align:left ;
    border:1px solid ;
    outline: none;
    width: 100%;
    padding : 15px;
}
.form-item {
    margin-left: 5px;
    width :550px ;
    height: 25px ;
    margin-right: 5px;
    padding-top: 5px ;
    padding-bottom : 5px ;
    padding-left: 5px;
    
}


button{
        background-color: #4caf50;
        color: #fff;
        border: none;
        margin :30px;
        padding: 10px 50px;
        border-radius: 5px;
        cursor: pointer;
}

img {
    width: 150px;
    height: 50px;
}

footer{
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    text-align: center;
}