header>h1{
    text-align: center;
}

.main-container{
    display: flex;
}

.container-item>h2{
    
}

.container-result, 
.container-form {
    background-color: aliceblue;
    padding-top: 8px ;
    padding-bottom :24px
}
.container-form{
    border:1px solid ;
    width: 100%;
    padding : 24px;
}

.form-item{
    height: 24px;
    border-radius: 0%;
    
}
.button{
    height :auto;
    border : 0px;
    padding-right : 
}